@page
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div id='container' class="col-12">
        <svg />
    </div>

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="~/js/chat.js"></script>